<!DOCTYPE html>
<html>
    <head>
        <title>My Careers</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    </head>
    <body>
      <div class="container">
        
        <h1 class="text-center" mt4 mb5>{{company_name}}Carreers</h1>
        
        <img src="https://ec085e0a-b9b9-446d-b11e-b69eac9d6a86-00-3mgs05xh0m3cb.sisko.replit.dev/static/banners.jpg",height="120px">

        
        <h2 class="text-center">About page</h2>
        
        <p class="lead">
          At [Your Project/Company Name], we’re not     just building products—we’re shaping the future. Founded with a bold vision to solve [insert key problem your project addresses], our mission is to blend innovation, technology, and human creativity to drive meaningful change.

          We believe great ideas need great people. That’s why we’re creating a culture where curiosity is encouraged, talent is celebrated, and every voice matters. Whether you're a coder, designer, marketer, or strategist, there’s a place here for those who want to grow, lead, and make an impact.

          Join us on our journey to build something extraordinary. Your career, your growth, your innovation—start here.
        </p>
        <h2 class="text-center"> Open Positions </h2>
        <div>
          {% for job in jobs%}
             {%include 'jobitem.html'%}
          {% endfor %}
        </div>

        <p>TODO - Show the jobs here</p>
        <div class="text-center">
        <button class="btn btn-primary">Contact US</button>
        <p>copyright 2025</p>
        </div>  
      </div>
    </body>
</html>